*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#products_container{
    width:1275px ;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10px;
    float:right ;
}
.smalldiv{
    border: 1px solid transparent;
    height: 600px;
    text-align: center;
    padding: 5px;
   
}
#image{
    width:100%;
    height: 75%;
}
.name{
    color: grey;
    font-size: 15px;
    font-weight: 400;
    margin: 0px;
} 
.brand{
    color:#393939;
    font-size: 15px;
    font-weight: 700;
   

}
.price{
    color: #393939;
    font-weight: 700;
    font-size: 15px;
  
}
.price_div{
    display: flex;
    align-items: baseline;
    align-content: space-around;
  
}
#inr{
    width: 70px;
    margin-left: 30px;
    color: #393939;
   
}