/* header start */
#top{
    background-color: red;
    text-align: center;
    color:white;
    line-height:1.4;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.15px;
    padding:10px 25px;
}
#top a {
    cursor: pointer;
    color:rgb(248, 246, 246);
}

#top p{
    float:left;
    margin-left:400px;
}

#top button{
    float:right;
    margin-top: 10px;
    color:white;
    background-color:red;
    border:none;
    cursor: pointer;
    font-size: 12px;
}

#top button img{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right:5px;
}
#top span{
    vertical-align: top;
}

.clear{
    clear:both
}

#nav-bar{
    margin-top:25px;
    padding-bottom:13px;

}

#nav-bar>div{
    width:96.5%;
    margin:auto;
}

/* ul{
    list-style-type: none;
} */

/* #inside-div{
    /* border:1px solid green; } */

#inside-div>div{
    float:left;
    margin-right:40px;
}

#logo{
    width:15%;
}

#navs{
    width:100%;
    margin-top: 10px;

}

#navs>button{
     display: inline; 
        /* justify-content: space-evenly; */
    border:none;
    background-color: white;
    margin-left: 75px;
    color:#393939;
    font-family: Brandon Text,Arial,sans-serif;
    font-weight: 400;
    font-size: 14px;
    transition-duration: 1s;
}

#red{
    color:#d61f27 !important;
}

#search{
    display: flex;
    width:18%;
    /* margin-right:0px !important; */
    margin-left:60%;
}

#search >div{
    width:37%;
    margin-right: 20px;
}

#search >div:nth-last-child(1){
    margin-right: 0px;
}

#bag{
    width:15% !important;
    
}

#bag img{
    width:100%;
    margin-top: 3px;
}

#one,#two{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    color:#393939;
    font-family: Brandon Text,Arial,sans-serif;
}

#one img{
    width:100%;
    height: 30px;
}
#bag > a > img {
    width: 100%;
    height: 25px;
}

#two > img {
    width: 16px;
    height: 16px;
}

.img > img{
    width: 20px;
    height: 20px;
}

#navs>button:nth-last-child(1){
    margin-left:17px;
    margin-right: 0px;
}

#search p{
    margin-left:3px;
}

.Sale-content, .Home-content, .Women-content,.Men-content,.Kids-content,.YoungAdult-content,.Kids-content,.Activewear-content,.Gifts-content,.Beauty-content,.Designer-content,.Brands-content{
    display: block;
    height:0px;
    width:100%;
    position: absolute;
    overflow: hidden;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0px 25px;
    padding-bottom:0px;
    z-index: 1;
    transition: height 0.5s ease-out;
    overflow-y: auto;
    
}

#inputBox{
    display: block;
    height:0px;
    position: absolute ;
    top:90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 6;
    border:none;
    padding:0px 20px;
    width:400px;
}

#signIN{
    display: none;
    position: absolute;
    top:90px;
    right:20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border:none;
    z-index: 7;
    padding:10px 20px;
    background-color: white;
    width:16% !important;
}

#signIN li{
    margin:10px;
    margin-bottom:20px;
    font-size:12px;
}

#signIN li:nth-child(1){
    width:65%;
    background-color:black;
    text-align: center;
    padding:10px 30px;
}

#signIN li:nth-child(2){
    width:65%;
    border:1px solid black;
    text-align: center;
    padding:10px 30px;
}

#signIN a{
    text-decoration:none;
    color: #393939;
}

#signIN li:nth-child(1)>a{
    color: white;
}



.mainh3{
    margin-top:20px;
}
.Sale-content>div, .Home-content>div,.Women-content>div ,.Men-content>div ,.Kids-content>div ,.YoungAdult-content>div ,.Kids-content>div ,.Activewear-content>div ,.Gifts-content>div ,.Beauty-content>div ,.Designer-content>div ,.Brands-content>div {
    display: flex;
}

.Sale-content>div>div, .Home-content>div>div,.Women-content>div>div,.Men-content>div>div,.Kids-content>div>div,.YoungAdult-content>div>div,.Kids-content>div>div,.Activewear-content>div>div,.Gifts-content>div>div,.Beauty-content>div>div,.Designer-content>div>div,.Brands-content>div>div{
    margin-right: 80px;
}

.Sale-content ul, .Home-content ul, .Women-content ul,.Men-content ul,.Kids-content ul,.YoungAdult-content ul,.Kids-content ul,.Activewear-content ul,.Gifts-content ul,.Beauty-content ul,.Designer-content ul,.Brands-content ul{
    list-style-type:none
}

.Sale-content a, .Home-content a,.Women-content a,.Men-content a,.Kids-content a,.YoungAdult-content a,.Kids-content a,.Activewear-content a,.Gifts-content a,.Beauty-content a,.Designer-content a,.Brands-content a{
    color: #393939;
    font-size:13px;
    line-height: 1.4;
    text-decoration:none;
}

.Sale-content li>a, .Home-content li>a,.Women-content li>a,.Men-content li>a,.Kids-content li>a,.YoungAdult-content li>a,.Kids-content li>a,.Activewear-content li>a,.Gifts-content li>a,.Beauty-content li>a,.Designer-content li>a,.Brands-content li>a{
    font-size:12px;
}

.Sale-content li, .Home-content li, .Women-content li,.Men-content li,.Kids-content li,.YoungAdult-content li,.Kids-content li,.Activewear-content li,.Gifts-content li,.Beauty-content li,.Designer-content li,.Brands-content li{
    margin-bottom: 10px;
}

.firstDiv{
    margin-right:30px;
}

hr{
    background-color:rgb(223, 213, 213);
    height:1px;
    width:200px;
    margin-bottom:10px;
    border:none;
}

.topMargin{
    margin-top:30px;
}

.marginRem{
    margin-right:0px;
    width:15%;
}

.marginRem img{
    width:100%;
    margin-top:80px;
    margin-bottom:80px;
}

.decor {
    font-size: 11px;
}

.decor+hr{
    width:110px;
    background-color: black;
}

ul{
    list-style-type:none
}
/* header end */




.container{
    font-family: 'Open Sans', sans-serif;
    padding: 0px 50px;

}
.shopping_bag{
    display: flex;
    padding: 20px 70px;

    font-family: 'Open Sans', sans-serif;
}
.shopping_bag>div{
    font-size: 17px;
    border:.5px solid gray;
    padding: 10px 25px;
    font-family: 'Open Sans', sans-serif;
    
}
.shopping2{
    padding: 1px 70px;

    font-family: 'Open Sans', sans-serif;
    
}
.shopping2>h1{
    font-size:25px;
    font-weight: 400;
    color: #393939;

}
.shopping2>div{
    font-size: 15px;
    line-height: 25px;
    color:#393939

}
.shopping2>hr{
    margin-top: 20px;
}

.maindiv{
    
    display: flex;
    width: 90%;
    height: 340px;
    margin: auto;
    
}
.imgdiv{
    height: 200px;
    width: 100px;

    margin-left: 10px;
    padding: 10px;
}
.imgdiv>img{
    width: 85px;
    
}
.contentdiv{
    height: 340px;
    width:490px;

    font-family: 'Open Sans', sans-serif;

}
.pricediv{
    
    height: 340px;
    padding: 10px;
    width: 100px;
}

.pricediv>span{
    font-size: 17px;
    font-weight: bolder;
    margin-left: 5px;
    color:#393939;
}
.qtydiv{
    height: 340px;
    width: 42%;

    padding: 10px;
    
}
.qtydiv>span{
    margin-right: 5px;
    color: blue;
    font-size: large;
}
#product>hr{
    width: 89.5%;
}
.namedetaildiv{
    line-height: 5px;
    font-family: 'Open Sans', sans-serif;

}
.namedetaildiv>h3{
    font-size: 14px;
    color:green;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}
.namedetaildiv>p{
    font-size: 14px;
    color: #393939;
}
.sizediv{
    border: 1px solid transparent;
    color: #393939;
    line-height: 8px;
    font-size: 15px;
}
.sizediv+div{
    border: 1px solid transparent;
    font-size:14px;
    color: #393939;
    width: 75%;
    
    
}
.sizediv+div>h3{
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
    color: #393939;
    
}
.sizediv+div>p{
    margin-left: 20px;
    color: #393939;
    font-family: 'Open Sans', sans-serif;
    
}
.buttondiv>button{
    background-color: transparent;
    color: blue;
    font-size: 14px;
    padding: 0px 15px;
    font-family: 'Open Sans', sans-serif;
    border: 1px solid transparent;

}
.buttondiv>button:hover{
    color: lightseagreen
}
.buttondiv{
    margin-top: 5px;
}
#leftbox>img{
    width: 200px;
}
#subtotal{
    width: 90%;
    
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    color: #393939;
}
#rightbox{
    height: 180px;
    width: 380px;

    margin-top: 10px;
    
    
}
#rightbox>button{
    width: 380px;
    height: 55px;
    background-color: black;
    color: white;
    border: transparent;
    font-size: 15px
    
}
#rightbox>button:hover{
    background-color: gray;
}
#subtotal>h3{
    font-size: 16px;
    font-weight: 600;
}
#subtotal>p{
    font-weight: bolder;
}
#hell{
    line-height: 23px;
}
#helldiv{
    width: 350px
}
    

/* footer start */
*{
    font-family: 'Lato', sans-serif;
}
.foot{
    display: flex;
    background-color: whitesmoke;
}
.foot-column{
  flex-basis: 250px;
padding:1px;
}
.head{
    font-size: 15px;
    font-weight: 700;
}
ul{
    list-style-type: none;
    text-align:start;
}
ul>li{
    padding: 7px;
    font-size: 12px;
}
li:hover{
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 1px;
}
.foot>p{
    flex-basis: 150px;
    padding:20px;
    font-size: 12px;
}
.foot>p:hover{
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness:1px;
}